<h1>Product Store</h1>

<!-- Button to navigate to the order component -->
<button class="btn btn-primary mb-3" routerLink="/orders">View Orders</button>

<!--Loading-->
<div *ngIf="loading$ | async">Loading...</div>
<div *ngIf="error$ | async as error">Error: {{ error.message }}</div>

<!--Order-->
<div *ngIf="products$ | async as products">
  <div *ngFor="let product of products" class="product-item">
    <div class="card" style="width: 18rem;">
      <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">Price: {{ product.price | currency }}</p>
        <button (click)="createOrder(product)" class="btn btn-primary">Order</button>
      </div>
    </div>
  </div>
</div>


